#include "DUI_Menu.h"

DUI_Menu MENU
{
    POPUP "File"
    {
        MENUITEM "&Open",        IDM_OPEN
        MENUITEM "&Close",       IDM_CLOSE
        MENUITEM SEPARATOR
        MENUITEM "&Exit",        IDM_EXIT
    }
    POPUP "Mode"
    {
        MENUITEM "&Unwrap",    IDM_WRAPOFF, CHECKED
        MENUITEM "&Wrap",     IDM_WRAPON
    }
}
